.contacts-list {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (min-width: $desktop) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}

.contacts-list__item:not(:last-child) {
  margin-bottom: 10px;

  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.contacts-list__link {
  display: flex;

  text-decoration: none;
  color: var(--grey-text);
  align-items: center;

  transition: color var(--animation-time) var(--animation-function);

  &:hover,
  &:focus {
    color: var(--accent);
  }

  @media screen and (max-width: $desktop_-1) {
    font-size: 12px;
    line-height: 1.166;
  }

  @media screen and (min-width: $desktop) {
    padding: 17px 0px;
  }

  &--mail {
    @media screen and (max-width: $desktop_-1) {
      padding-top: 17px;
    }
  }

  &--phone {
    @media screen and (max-width: $desktop_-1) {
      padding-bottom: 17px;
    }
  }
}

.contacts-list__icon {
  fill: currentColor;
  margin-right: 8px;

  @media screen and (min-width: $desktop) {
    margin-right: 10px;
  }

  &--mail {
    width: 14px;
    height: 10px;

    @media screen and (min-width: $desktop) {
      width: 16px;
      height: 12px;
    }
  }

  &--phone {
    width: 10px;
    height: 14px;

    @media screen and (min-width: $desktop) {
      width: 10px;
      height: 16px;
    }
  }
}
