.section {
  padding: 94px 0;

  &--hero {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background-dark);
    padding: 200px 0;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &--benefits {
    padding-bottom: 0;
  }

  &--team {
    background-color: var(--background-light);
  }
}

.section__title {
  text-align: center;
  margin-bottom: 50px;
}
