html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--white);
  color: var(--black-text);

  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

h1 {
  color: var(--white);

  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: $desktop) {
    font-size: 44px;
    line-height: 1.363;
  }
}

h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.178;
  @media screen and (min-width: $desktop) {
    font-size: 36px;
    line-height: 1.166;
  }
}

p {
  font-weight: 400;
  color: var(--grey-text);
}

img {
  display: block;
  max-width: 100%;
}
